/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Open+Sans&family=PT+Sans:ital@1&family=Work+Sans&display=swap');
:root{
    --secondary-color:rgba(255, 144, 14, 0.1);
    --primary-font:'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--primary-font);
}
/* Header Part Css */
header{
    background-color: var(--secondary-color);
}
.title-nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 140px;
}
.nav-item{
    display: flex;
    gap:30px;
    margin-top:63px;
}
.nav-item a{
    text-decoration: none;
    font-weight: 500;
    font-size:1.125rem;
    line-height: 1.625rem;
    color: #424242;

}
.header-title{
    margin-top:50px;
    font-weight: 700;
    font-size: 2.8125rem;
    line-height: 3.3125rem;
    font-family:var(--primary-font);
}
.header-middle-text{
    text-align: center;
}
.header-display-text{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    margin-bottom: 20px;
}
.header-display-text-details{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}
.button{
    text-align: center;
    margin-bottom: 40px;
}
.btn-primary{
    height: 50px;
    padding: 17px;
    background-color: #FF900E;
    border-radius: 5px;
    border: none;
    color: white;
}
.banner{
    display: flex;
    justify-content: space-around;
    padding-bottom:100px;
}
.banner img{
    width: 75%;
}
/* Header Css Completed */



/* Media query for mobile divices */
@media screen and (max-width:576px) {
    .title-nav{
       flex-direction: column;
       align-items: center;    
    }
    .nav-item{
        flex-direction: column;
        gap: 20px;
    }
    .title-nav{
        margin-bottom: 80px;
    }
    .header-display-text{
        font-size: 40px;
    }
    .header-display-text-details{
        padding: 20px;
    }
    .banner img{
        width: 85%;
    }
    
}